body{
  background: -webkit-radial-gradient(white 0%, #dadada 75%);
  background: -o-radial-gradient(white 0%, #dadada 75%);
  background: -moz-radial-gradient(white 0%, #dadada 75%);
  background: radial-gradient(white 0%, #dadada 75%);
  height:100vh;
  overflow:hidden;
}
*:focus{
  outline:none;
}
h2{
  font-family: 'Titillium Web', sans-serif;
  font-size:35px;
  text-align:center;
  text-transform:uppercase;
  color: #afafaf;
}
h3{
  font-family: 'Titillium Web', sans-serif;
  font-size:20px;
  text-align:center;
  cursor:pointer;
  text-transform:uppercase;
  margin-top:-40px;
  color: #cccccc;
}

button{
  background:#0277bd;
  overflow: hidden;
  border:none;
  width:200px;
  height:60px;
  border-radius:9px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor:pointer;
}

button span{
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    transition: 0.1s;
    font-size: 20px;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    opacity:1;
}
button:active{
  background:#0399e4;
}

button:active  span{
  font-size:23px;
}

.active button{
   background: #0399e5 !important; 
}
.active span{
  opacity:0;
  transition:0.7s;
  transition-delay: 0.9s;
  animation-timing-function: ease-out;
}

.active svg{
    width: 24px;
    margin: 18px auto;
    animation: icona;
    animation-iteration-count: 1;
    animation-duration: 1.4s;
    display:block; 
    animation-timing-function: ease-out;
    opacity:1;
} 

@keyframes icona { 
      0% {opacity:0;}
    90% {opacity:0;height: 15px;margin: 25px auto;} 
    100% {opacity:1;height: 25px;} 
}

.active div{
  width: 200px;
  height: 60px;
  margin: -30px -6px;
  z-index: -1;
  position: absolute;
  background: #0399e5;
  animation: loading;
  animation-duration: 0.5s; 
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(1,.27,.52,.67);
  
}

@keyframes loading {
      0% {width:0px;margin: -30px -6px;}
      10% {width:10px;}
      20% {width:30px;} 
    100% {width: 200px;background: #0399e5;margin: -30px -6px;} 
}

button svg{
    display:none;
}
