{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h2 class="archive__item-title no_toc" itemprop="headline" style="margin-top: 14px;">
    </h2>
    {% include page__meta.html type=include.type %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{% if post.header.teaser_home_page %}<img src="{{ post.header.teaser }}" alt="" style="float: right;margin-right:10px; margin-left:20px; bottom:50px; height:120px; border-radius: 10px 10px; box-shadow: 0 0 20px 1px #00F5FF; border: 3px solid #fff">{% endif %}{{ post.excerpt | markdownify | strip_html | truncate: 1024 }}</p>{% endif %}
    <i class="fas fa-tags"></i>
    {% for tag in post.tags %}
      <a href="/tags/#{{ tag }}" class="page__meta btn" rel="tag">{{ tag }}</a>
    {% endfor %}
  </article>
</div>
